@import "variables.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: $cd-primary;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  &:hover + .box {
    transform: scale(1) rotate(0deg);
    span {
      transform: translateY(0);
    }
  }
}
.box {
  width: $ball-size;
  height: $ball-size;
  background: $cd-secondary;
  margin-bottom: 1rem;
  transform: scale(0.1) rotate(-90deg);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  span {
    display: block;
    transform: translateY(250%);
    transition: transform 280ms ease-out 0.5s;
  }
}

/* Tests sur le code du projet */

.DétailMenu {
  background: white;
  display: flex;
  align-items: center;
  padding-right: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 3px 4px lightgray;
  overflow: hidden;
  .DétailMenuEcriture {
    flex: 1;
    padding-bottom: 0.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .DétailMenuPrix {
    font-size: 0.8em;
    padding-top: 1.9em;
  }
  .selection {
    background: $tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1em -5em -1em 2em;
    width: 3em;
    height: 3.8em;
    transition-duration: 1s;
    .boiteCoche {
      height: 1.7em;
      width: 1.7em;
      border-radius: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-270deg);
      transition-duration: 1s;
      .coche {
        color: $tertiary;
        font-size: 1.9em;
      }
    }
  }
  &:hover .selection {
    margin-right: -1em;
  }
  &:hover .boiteCoche {
    transform: rotate(0deg);
  }
}
