$cd-primary: #011c37;
$cd-secondary: #15dea5;
$cd-txt: #6300a0;
$cd-box: #fff;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$ball-size: 7rem;
$tertiary: #99e2d0;
$cd-btn: rgba(1, 28, 55);
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);
